@media only screen and (max-width: 700px) {

	.table-responsive table,
	.table-responsive thead,
	.table-responsive tbody,
	.table-responsive tr,
	.table-responsive th,
	.table-responsive td {
		@apply block
	}

	.table-responsive thead {
		@apply hidden
	}

	.table-responsive td {
		padding-left: 150px;
		@apply relative border-gray-200 flex items-center justify-center
	}


	.table-responsive td::before {
		padding: 10px;
		content: attr(data-label);
		width: 130px;
		@apply absolute top-0 left-0 bottom-0 border-gray-200 text-gray-800  text-left text-sm uppercase font-normal flex items-center
	}

	.table-responsive tr {
		@apply mb-4
	}

	.table-responsive th + td {
		padding-left: 10px;
	}

	.hide-row-mobile {
		display: none !important;
	}

}
