@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
	margin: 2rem;
}

@page {
	size: A4;
}

html {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}

.page-break {
	break-after: page;
}
