.rec-slider-container {
	@apply max-w-7xl lg:border-r lg:border-l m-0 !important
}

.rec-carousel {
	@apply flex flex-row justify-between
}

.rec-item-wrapper {
	@apply h-full
}

@media screen and (min-width: 664px) {
	.rec-slider {
		max-height: 4.5rem !important;
	}
}
