<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {% for path in encore_entry_css_files('app') %}
                <link rel="stylesheet" href="{{ pdf ? path|split('/')|last : absolute_url(path) }}">
            {% endfor %}
        {% endblock %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% for path in encore_entry_js_files('app') %}
                <script defer src="{{ pdf ? path|split('/')|last : absolute_url(path) }}"></script>
            {% endfor %}
        {% endblock %}
    </body>
</html>

<!DOCTYPE html>