{% extends 'base.html.twig' %}

{% import "report_components.html.twig" as components %}
{% import "logo.html.twig" as logo %}


{% block title %}Compte rendu de visite{% endblock %}

{% block body %}
    <div class="flex w-full mb-4">
        <div class="w-3/4 border-2 border-black bg-gray-200">
            <div class="flex flex-col text-lg m-2">
                <div class="flex justify-center relative mb-1">
                    <div class="absolute top-0 left-0">{{ worksite.code }}</div>
                    <div class="text-xl font-bold">CHANTIER :</div>
                    <div></div>
                </div>
                {{ components.worksite_info(worksite.name) }}
                {{ components.worksite_info(worksite.address.street) }}
                {{ components.worksite_info(worksite.address.postalCode ~ " " ~ worksite.address.city) }}
                {{ components.worksite_info("maximeinformatique@free.fr", false) }} {# TODO: Replace with email address #}
            </div>
        </div>
        {{ logo.logo() }}
    </div>
    <div class="flex justify-center font-bold text-xl mb-4">
        COMPTE RENDU VISITE N°<span class="mx-1 border-b border-dotted border-gray-700 font-normal">1</span> DU <span
                class="mx-1 border-b border-dotted border-gray-700 font-normal">{{ visitDate }}</span>
    </div>
    <div class="text-center italic mb-4">
        <span class="underline">RAPPEL</span> : par arrêtés préfectoraux de 2001 et 2002, les départements de la Gironde
        et des Landes
        sont déclarés infestés par les termites dans leur intégralité.
        L’élimination d’une colonie de termites ne doit donc pas être considérée comme une disparition
        durable et définitive de la menace qu’ils représentent pour les bâtiments, y compris ceux dans
        lesquels une colonie a déjà été éradiquée.
    </div>

    {{ components.report_section("Vérification stations extérieures sentri sol", [
        {
            id: "all_stations",
            label: "Toutes les stations",
            checked: false
        },
        {
            id: "connected_stations",
            label: "Stations connectées uniquement et stations voisines aux stations connectées (visite complémentaire)",
            checked: false
        }
    ]) }}

    {{ components.report_section("Stations connectées :", [
        {
            id: "sb_connec",
            label: 'Station(s) lntérieure(s) <span class="font-bold">SENTRI BOX</span> n°',
            value: stationInfos.connectedSB
        },
        {
            id: "ssol_connec",
            label: 'Station(s) Extérieure(s) <span class="font-bold">SENTRI SOL</span> n°',
            value: stationInfos.connectedSSOL
        }
    ]) }}

    {{ components.report_section("Consommation de la formulation insecticide : ", [
        {
            id: "sb_conso",
            label: 'Station(s) lntérieure(s) <span class="font-bold">SENTRI BOX</span> n°',
            value: stationInfos.consummatingSB
        },
        {
            id: "ssol_conso",
            label: 'Station(s) Extérieure(s) <span class="font-bold">SENTRI SOL</span> n°',
            value: stationInfos.consummatingSSOL
        }
    ]) }}

    {{ components.report_section("Entretien du matériel en place à l'extérieur : ", [
        {
            id: "ssol_remplacement",
            label: 'Remplacement station(s) <span class="font-bold">SENTRI SOL</span> n°',
            value: stationInfos.replacedSSOL
        },
        {
            id: "ssol_couvercle",
            label: 'Changement couvercle <span class="font-bold">SENTRI SOL</span> n°',
            value: stationInfos.lidChangedSSOL
        },
        {
            id: "ssol_rechargement",
            label: 'Rechargement / Changement appât <span class="font-bold">SENTRI SOL</span> n°',
            value: stationInfos.rechargedSSOL
        },
        {
            id: "ssol_ajout",
            label: 'Ajout de .... station(s) <span class="font-bold">SENTRI SOL</span> n°',
            value: ""
        }
    ]) }}

    {{ components.report_section("Maintenance du matériel en place à l'intérieur : ", [
        {
            id: "sb_rechargement",
            label: 'Rechargement / Changement appât <span class="font-bold">SENTRI BOX</span> n°',
            value: stationInfos.rechargedSB
        },
        {
            id: "sb_ajout",
            label: 'Ajout de .... station(s) <span class="font-bold">SENTRI BOX</span> n°',
            value: ""
        },
        {
            id: "sb_suppression",
            label: 'Suppression de .... station(s) <span class="font-bold">SENTRI BOX</span> n°',
            value: stationInfos.removedSB
        }
    ]) }}

    {{ components.report_section("Stations inaccessibles : ", [
        {
            id: "sb_inaccessible",
            label: 'Inaccessibilité des stations <span class="font-bold">SENTRI BOX</span> n°',
            value: stationInfos.notAccessibleSB
        },
        {
            id: "ssol_inaccessible",
            label: 'Inaccessibilité des stations <span class="font-bold">SENTRI SOL</span> n°',
            value: stationInfos.notAccessibleSSOL
        }
    ]) }}

    {{ components.elimination_section([
        {
            id: "elimination_start",
            label: "Constat de début d'élimination d'une colonie de termites",
            checked: false
        },
        {
            id: "elimination_end",
            label: "Constat d'élimination d'une infestation",
            checked: false
        }
    ]) }}

    {{ components.observation_section(diverseObservations) }}

    <div class="flex flex-col gap-y-6 mt-4">
        <div class="italic underline">Prochaine visite :</div>
        <div class="flex flex-row justify-around">
            <div>L'Opérateur <span class="font-bold">SENTRI* TECH</span> : Olivier BAZIN</div>
            <div>Le Client : {{ worksite.name }}</div>
        </div>
        <div class="font-bold italic text-center text-sm">
            Copyright SOS Termites - 800, av. du Parc des Expositions - 33260 LA TESTE - Tél. 05 56 83 94 00 - www.sos-termites.com
        </div>
    </div>

{% endblock %}