@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@import 'components/Scrollbar/Scrollbar.css';

.loading {
	background-color: #4a69bd;
}

.visit-page-grid{
	grid-template-columns: 336px calc(100% - 336px - 1rem);
	grid-column-gap: 1rem;
	height: calc(100% - 64px);
}

.sidebar {
	height: calc(100vh - 64px);
	top: 0;
	@apply overflow-y-auto sticky z-50}

.sidebar-content {
	height: fit-content;
}

.pdf-report {
	height: 66vh;
}