.calendar {
	@apply shadow bg-white rounded-lg border-none !important
}

.calendar-input {
	@apply bg-gray-200 cursor-pointer w-full outline-none border-none p-0 focus:ring-2 text-2xl rounded shadow text-center}

.basic-calendar-input {
	width: 5.5rem;
	@apply cursor-pointer outline-none p-0 text-center border-t-0 border-l-0 border-r-0 border-gray-400
}

.calendar-wrapper {
	max-width: 8rem;
}

.react-datepicker__triangle {
	@apply hidden
}

.react-datepicker__header {
	@apply bg-white border-b-0 !important
}

.calendar-day {
	@apply hover:rounded-full hover:bg-blue-200 text-gray-700 !important
}

.react-datepicker__day--selected {
	@apply rounded-full bg-blue-500 hover:bg-blue-500 text-white !important
}

.react-datepicker__current-month {
	@apply capitalize text-gray-600 !important
}

.calendar-weekday {
	@apply text-gray-800 font-medium text-xs capitalize !important
}

.react-datepicker__navigation {
	margin-top: .75rem !important;
	@apply outline-none !important
}

.react-datepicker__day--disabled {
	@apply cursor-not-allowed text-gray-400 !important
}

.react-datepicker-popper {
	@apply z-50 text-2xl
}

.react-datepicker__tab-loop {
	@apply absolute top-0 left-0
}