/* custom scrollbar */
::-webkit-scrollbar {
	height: 20px;
	width: 20px;
}

::-webkit-scrollbar-track {
	@apply bg-gray-100
}

::-webkit-scrollbar-thumb {
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
	@apply bg-gray-300
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-gray-400
}
